<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.test.TestDAO">
  <select id="selectTestList" resultType="com.example.demo.test.TestDTO">
    SELECT
      id,
      number
    FROM test1
    ORDER BY id ASC
  </select>

  <insert id="insertTest" parameterType="com.example.demo.test.TestDTO">
    INSERT INTO test1 (number)
    VALUES (#{number})
  </insert>
</mapper>
